<div class="bkg">
  <div class="container" data-aos="fade-down">
    <div class="row">
        <div class="card-content">
            <div class="card-item">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/icons/missao.svg"  alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Missão</h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="card-item">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/icons/valores.svg"  alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Valores</h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="card-item">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/icons/visao.svg"  alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Visão</h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>