.clientes {
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    flex-direction: column;
    width: 100%;
    background-color: #fff;

    h2 {
        text-align: center;
        color: #161616;
    }

    .container {
        overflow-x: auto;
        max-width: 1550px;
        padding: 0 50px;
        
    }

    .prefeitura-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px 0;
        gap: 20px;
        overflow-x: auto;
        width: max-content;


        .prefeitura-item {
            img {
                max-width: 250px;
                height: 150px;
            }
        }
    }
}