
    <div id="clientes" class="clientes" data-aos="fade-up">
        <h2>Parceiros da Atlântica</h2>
        <div class="container">
    <div class="prefeitura-content">
        <div class="prefeitura-item">
            <img src="../../../assets/clientes/pref-araças.png" alt="">
        </div>
        <div class="prefeitura-item">
         <img src="../../../assets/clientes/pref-conceicao.png" alt="">

        </div>
        <div class="prefeitura-item">
             <img src="../../../assets/clientes/pref-conde.png" alt="">
        </div>
        <div class="prefeitura-item">
             <img src="../../../assets/clientes/pref-govMang.png" alt="">
        </div>
        <div class="prefeitura-item">
             <img src="../../../assets/clientes/pref-ipira.png" alt="">
        </div>
        <div class="prefeitura-item">
             <img src="../../../assets/clientes/pref-matasj.png" alt="">
        </div>
    </div>
</div>
</div>