.footer {
  padding-top: 50px;
  background-color: #161616;
  color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  .footer-logo {
    display: flex;
    justify-content: flex-end;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .footer-contact {
    align-items: center;
    p {
      margin: 0;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copy {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    background-color:  #5F0C96;
    color:#fff;
    p {
      margin: 0;
    }
  }
}
@media (max-width: 600px) {
.footer{
   .footer-logo{
    justify-content: center;
 }
 .footer-contact{
      display: flex;
    flex-direction: column;
    margin-top: 25px;
 }
}
}