<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-logo">
          <img src="../../../assets/banner-footer.png" width="150" height="150" alt="Logo da Atlântica E-commerce">
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-contact">
        <h2>Contato</h2>
          <p>Email: <a href="mailto:comercial@atlantica-e.com.br">comercialatlantica-e.com.br </a></p>
          <p>Tel: 71 3599-2945</p>
        </div>
      </div>
    </div>
  </div>
    <div class="copy">
          <p>&copy; 2023 Atlântica E-commerce</p>
        </div>
</footer>
