.footer {
  margin-top: 50px;
  background-color: #fff;
  color: #5F0C96;
  padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  .footer-logo {
    display: flex;
    justify-content: flex-end;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .footer-contact {
    align-items: center;
    p {
      margin: 0;
    }
    a {
      color: #5F0C96;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copy {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    background-color:  #5F0C96;
    color:#fff;
    p {
      margin: 0;
    }
  }
}
