.container{
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
    }
    .img-banner{
        display: flex;
        flex-wrap: wrap;
            justify-content: flex-end;
            border-radius: 50px;
        background-color: #161616;
       img{
        display: flex;
        position: relative;
        width: 100%;
       }
    }
  .formulario-contato{
    padding-top: 30px;
    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        .mat-form-field{
            max-width: 400px;
            width: 100%;
        }
    }
  }
}
.bkg{
    background-color: #f8f6f6;
}