.position{
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    nav{
        background-color: #161616;
        .navbar-brand{
           color: #fff;
           margin-left: 15px;
           margin-top: 15px;
        }
        ul{
            margin-left: auto;
            margin-right: 10px;
            .nav-link {
                color: #727272;
                padding: 10px 35px;    
            }
    
            .nav-link:hover {
                transform: scale(1.5); 
                transition: transform 0.3s ease-in-out;
                color: #5F0C96;
            }
            li{
                border-right: #727272 1px solid;
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            li:last-child{
                border-right: none;
            }
        }
    }
}
@media (max-width: 600px) {
    .position{
        display: block;
        .navbar{
            .navbar-toggler{
                background-color: #5F0C96;
                span{
                    filter: invert(1);
                }
            }
            ul{
            .nav-link:hover {
                transform: scale(1.0); 
                transition: none;
            }
            }
        }
    }
 
}