<div class="position">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <img src="../../../assets/logo.png" width="50" height="50" alt="logo"><p class="navbar-brand">Atlântica Soluções <br> Integradas</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#contato"> <mat-icon> contacts</mat-icon>
              Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre"><mat-icon> business</mat-icon>
              Institucional</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="#clientes"><mat-icon> store_mall_directory</mat-icon>
              Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sistemas"><mat-icon>settings_system_daydream</mat-icon>
              Sistemas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://compushop.com.br/registro-de-precos/"> <mat-icon>pages</mat-icon>
              Registro de Preço</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>