<div class="bkg-sobre" data-aos="fade-up">
    <div id="sobre" class="container sobre-section" >
        <div class="row">
            <div class="col-md-6">
                <div class="sobre-content">
                <h1>Sobre a Atlântica</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sobre-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore quos veritatis quasi minima, labore iure ipsam laboriosam cupiditate, rerum similique veniam temporibus. Animi, earum? Cumque sint ut corporis consequatur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, quos cupiditate. Architecto recusandae ipsam optio animi fuga molestiae tempora cum velit laborum debitis perferendis sunt modi, minus necessitatibus explicabo! Laboriosam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi impedit eius earum officia fugit porro error minima laudantium excepturi sunt, voluptas ipsum nulla alias itaque aut cupiditate tenetur ratione sit!</p>
                </div>
            </div>
           
        </div>
    </div>
</div>