html {
  scroll-behavior: smooth;
}
.bkg{
  background-image: url('../assets/slider/slider-1-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1100px;
}
@media (max-width: 1365px) {
  .bkg{
      background-size: 100% 1150px;
  }
}
@media (max-width: 600px) {
  .bkg{
      background-size: 100% 600px;
  }
}

