    <div id="sistemas" class="sistemas" data-aos="fade-left">
        <div class="container">
  <h2>Sistemas Utilizados na Empresa</h2>
  
  <mat-nav-list>
    <div class="row">
    <div class="col-md-6">
         <a mat-list-item href="https://www.licitacoes-e.com.br" target="_blank">
      <mat-icon>computer</mat-icon>
      <p>       Licitacoes-e
</p>
    </a>
    <a mat-list-item href="https://bllcompras.com" target="_blank">
      <mat-icon>computer</mat-icon>
      <p>      BLL Compras
</p>
    </a>
    <a mat-list-item href="https://atlanticae.marketup.com" target="_blank">
      <mat-icon>computer</mat-icon>
      <p> Atlântica MarketUP</p>
    </a>
    <a mat-list-item href="https://consulteonline.conlicitacao.com.br" target="_blank">
      <mat-icon>computer</mat-icon>
      <p>      Consulte Online
</p>
    </a>
    </div>
    <div class="col-md-6">
         <a mat-list-item href="https://webmail-seguro.com.br/v2" target="_blank">
      <mat-icon>computer</mat-icon>
          <p>      Webmail Seguro
</p>
    </a>
    <a mat-list-item href="https://www.localiza.com/Empresas/Login/Login?ReturnUrl=%2fempresas" target="_blank">
      <mat-icon>computer</mat-icon>
      <p>      Localiza Empresas
</p>
    </a>
    <a mat-list-item href="https://egov.paradigmabs.com.br/sescba/login/oauth2/authorize?appId=70ec9413-0bb3-49c7-8d44-1679dd624bb1&tenantId=31857ca9-002f-48f2-9986-ed48425ca0a4&lang=pt-BR" target="_blank">
      <mat-icon>computer</mat-icon>
      <p>      Sesc BA
</p>
    </a>
      <a mat-list-item href="" target="_blank">
      <mat-icon>computer</mat-icon>
      <p>      Sistema de Ponto
</p>
    </a>
    </div>
  </div>
   
   
  </mat-nav-list>
</div>

</div>