.carousel-inner{
    margin-top: 50px;
.carousel-item{
img{
    margin-top: 50px;
    height: 80vh;
    object-fit: contain;
}
}
}

@media (max-width: 600px) {
.carousel-inner{
    .carousel-item{
img{
    height: auto;
}
}
}
}