// .carousel-inner{
// .carousel-item{
// img{
//     margin-top: 50px;
//     max-height: 700px;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
// }
// }

// @media (max-width: 600px) {
// .carousel-inner{
//     .carousel-item{
// img{
//     height: auto;
// }
// }
// }
// }
.banner-content {
    width: 100%;
    height: 450px;
    background: transparent;
}